@model ShopMyNghe.Models.Product

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<div class="container mt-3" style="width: 400px;">
    <h2 style="text-align: center;">Create a new product</h2>

    @using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h6>Product ID</h6>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.product_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.product_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>Name</h6>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>Price</h6>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6>Description</h6>
                <div class="col-md-12">
                    <textarea name="description">Mô tả sản phẩm</textarea>
                </div>
            </div>

            <div class="form-group">
                <h6>Image</h6>
                <div class="col-md-12 mb-2">
                    <input type="file" name="fileupload" />
                    @*@ViewBag.ThongBao*@
                </div>
            </div>

            <div class="form-group">
                <h6>Category</h6>
                <div class="col-md-12">
                    @Html.DropDownList("category_id")
                </div>
            </div>

            <div class="form-group">
                <h6>Source</h6>
                <div class="col-md-12">
                    @Html.DropDownList("source_id")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Create" class="btn btn-default mt-2 mb-2" style="font-weight: bold; border: solid; background-color: rgb(252, 150, 112);" />
                </div>
            </div>
        </div>

    }

    <div style="text-align: center;">
        <a href="/Home/Index" class="btn" style="border: solid; background-color: rgb(252, 150, 112);">Back</a>
    </div>
</div>
